In [10]:
import pandas as pd
import numpy as np
from statsmodels.regression.rolling import RollingOLS
import pandas_datareader.data as web
import matplotlib.pyplot as plt
import statsmodels.api as sm
# import datetime as dt
from datetime import datetime, timedelta
import yfinance as yf
import warnings
warnings.filterwarnings('ignore')

In [11]:
raw_data = pd.read_html('https://en.wikipedia.org/wiki/List_of_S%26P_500_companies')

In [12]:
main_data = raw_data[0]
main_data['Symbol'] = main_data['Symbol'].str.replace('.', '-')
symbols_list = main_data['Symbol'].unique().tolist()
today = datetime.now().date()
end_date = today - timedelta(days=2)
start_date = pd.to_datetime(end_date)-pd.DateOffset(365*10)

In [22]:
yf_df = yf.download(tickers=symbols_list, start=start_date, end=end_date).stack()
yf_df.index.names = ['date', 'ticker']
yf_df.columns = yf_df.columns.str.lower()

[*********************100%%**********************]  503 of 503 completed

In [23]:
yf_df

                    adj close       close        high         low        open  \
date       ticker
2013-11-04 A        33.627888   36.630901   36.809727   36.444920   36.759659
           AAL      21.409658   22.709999   23.900000   22.570000   22.600000
           AAPL     16.418623   18.812500   18.815001   18.528929   18.610714
           ABBV     32.370598   48.759998   49.189999   48.000000   49.189999
           ABT      30.490244   36.980000   37.020000   36.689999   36.980000
...                       ...         ...         ...         ...         ...
2023-11-01 YUM     121.300003  121.300003  122.480003  119.529999  121.879997
           ZBH     105.070000  105.070000  105.209999  103.510002  104.519997
           ZBRA    197.990005  197.990005  212.500000  194.589996  209.570007
           ZION     31.020000   31.020000   31.129999   30.330000   30.740000
           ZTS     151.440002  151.440002  157.000000  151.029999  156.419998

                        volume
date       ticker
2013-11-04 A         1971040.0
           AAL      19962000.0
           AAPL    244627600.0
           ABBV      4095600.0
           ABT       5645300.0
...                        ...
2023-11-01 YUM       2788100.0
           ZBH       1503100.0
           ZBRA       822900.0
           ZION      2261800.0
           ZTS       7269900.0

[1234434 rows x 6 columns]